version: '3.6'

services:
 
  dashboard:
    image: agoldis/sorry-cypress-dashboard:latest
    environment:
      GRAPHQL_SCHEMA_URL: 'http://cypress-inventi-api.herokuapp.com'
      CI_URL: ''
      PORT: 8081
    ports:
      - 8081:8081
    depends_on:
      - mongo
      - cypress
